[Unit]
Description=SharedSignals Cloudflare Tunnel
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
TimeoutStartSec=120
ExecStart=/usr/local/bin/cloudflared --no-autoupdate tunnel run --protocol http2 --token-file /etc/cloudflared/sharedsignals.token
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
